@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 280px;
  height: 280px;
  gap: 2px;
}

header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
h1 {
  color: #af27d8;
  font-size: 40px;
}
.status {
  font-size: 18px;
  font-weight: 500;
  color: hsl(212, 100%, 92%);
}
.blue {
  color: hsl(212, 100%, 70%);
}
.cell {
  border: 1px solid hsl(0, 0%, 25%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 24px;
  font-weight: 600;
  background: hsl(0, 0%, 15px);
  transition: background ease-in-out 0.15s;
}
.cell:empty:hover {
  background-color: hsl(0, 0%, 16%);
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: hsl(0, 0%, 12%);
}
main {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.exes {
  background: #af27d8;
  color: #ffffff;
}
.oes {
  background: hsl(212, 100%, 80%);
  color: #af27d8;
}

#restart {
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 24px;
  background: #af27d8;
  color: hsl(212, 100%, 92%);
  cursor: pointer;
  transition: background ease-in-out 0.15s;
}
#restart:hover {
  background: hsl(212, 100%, 90%);
  color: #af27d8;
}
